.react-zoom-wrapper {
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  user-select: none;
}

.react-zoom-origin-image {
  pointer-events: none;
  user-select: none;
  width: 100%;
  object-fit: cover;
}

.react-zoom-image {
  pointer-events: none;
  position: absolute;
  object-fit: cover;
}
